<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qin.springbootdemo.dao.BookWeekRecommandMapper" >
    <resultMap id="BaseResultMap" type="com.qin.springbootdemo.domain.Book" >
        <id column="book_id" property="bookId" jdbcType="INTEGER" />
        <result column="book_number" property="bookNumber" jdbcType="INTEGER" />
        <result column="book_name" property="bookName" jdbcType="VARCHAR" />
        <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
        <result column="book_press" property="bookPress" jdbcType="VARCHAR" />
        <result column="book_image_big" property="bookImageBig" jdbcType="VARCHAR" />
        <result column="book_image_small" property="bookImageSmall" jdbcType="VARCHAR" />
        <result column="book_classify_one" property="bookClassifyOne" jdbcType="VARCHAR" />
        <result column="book_classify_two" property="bookClassifyTwo" jdbcType="VARCHAR" />
        <result column="book_desc" property="bookDesc" jdbcType="LONGVARCHAR" />
        <result column="book_address" property="bookAddress" jdbcType="VARCHAR" />
        <result column="book_grade" property="bookGrade" jdbcType="DOUBLE" />
        <result column="book_sum" property="bookSum" jdbcType="INTEGER" />
        <result column="book_residue" property="bookResidue" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAllBook" resultMap="BaseResultMap">
        select * from book_recommend_week
    </select>

    <select id="findBookByid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select * from book_recommend_week WHERE book_id = #{id};
    </select>


</mapper>